.star-rating {
    direction: rtl;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.star-rating input {
    display: none;
}

.star {
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
}

.star:hover,
.star:hover ~ .star {
    color: gold;
}

.star-rating input:checked ~ .star {
    color: gold;
}

.star-rating input:checked + .star {
    color: gold;
}

.star-rating input:checked + .star:hover,
.star-rating input:checked + .star:hover ~ .star {
    color: gold;
}